---
// import Heading from "@/components/heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header>
    <h2 class="uppercase">
      <span aria-hidden>{"//"}</span> Exploring engineering excellence
    </h2>
  </header>

  <!-- <section class="mt-8">
    <Heading>Prototypes</Heading>
    <ul class="mt-4 list-['_*_'] list-inside space-y-2">
      <li><a href="" class="underline"></a></li>
    </ul>
  </section> -->
</Layout>
