---

---

<header class="flex justify-between items-end gap-x-4 mb-4 pb-4 border-b">
  <h1 class="uppercase">
    <a href="/">
      Blue Ribbon
      <br />
      Engineering
    </a>
  </h1>
  <p>v0.0.1</p>
</header>
