---

---

<h2 class="flex items-center gap-x-[1ch] uppercase">
  <span aria-hidden>{"/*"}</span>
  <slot />
  <span aria-hidden class="h-px flex-1 border-t"></span>
  <span aria-hidden>{"*/"}</span>
</h2>
